extends layout

block content
  h1= title
  h2=title1
  p log applied to #{nikki1} is #{nikitha1}
  h2=title2
  p imul applied to #{nikki1},#{nikki2} is #{nikitha2}
  h2=title1
  p log10 applied to #{nikki1} is #{nikitha3}
  
