extends layout

block content
  h1= title
  h2=title1
  p nikitha1 applied to #{nikki1} is #{nikitha1}
  h2=title2
  p nikitha2 applied to #{nikki2} is #{nikitha2}
  h2=title3
  p nikitha3 applied to #{nikki3} is #{nikitha3}
  h2=title4
  p nikitha4 applied to #{nikki4} is #{nikitha4}
  h2=title1
  p nikitha5 applied to #{nikki1} is #{nikitha5}
  h2=title2
  p nikitha6 applied to #{nikki2} is #{nikitha6}
